{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cupiditate dolorum ducimus exercitationem illum incidunt magnam minus nemo, omnis quas tempore, unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at commodi deleniti deserunt dignissimos ducimus, error est, facilis illo ipsam ipsum laborum modi necessitatibus numquam officia quisquam quos rerum sint sit tempora? Voluptates.</p>
</div>

{% endblock content %}